<li class="post">
      <article class=" uk-padding uk-card-secondary uk-padding-remove-bottom uk-comment uk-visible-toggle" tabindex="-1">
        <header class="uk-comment-header uk-position-relative">
          <div class="uk-grid-medium uk-flex-middle uk-grid">
            <div class="uk-width-expand">
              <h4><a class="link" href="/post/{{id}}">{{user.username}}<a></h4>
              <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                <li><a class="link" href="#"></a>Trains</li>
                <li>{{format_date created_at}}</li>
                <li><a class="link" href="#">Reply</a></li>
              </ul>
            </div>
          </div>
        </header>
        <div class="uk-comment-body">
          <p>{{content}}</p>
        </div>
    <hr class="uk-divider-icon">
