<li>
    <article class="uk-padding uk-card-secondary uk-comment uk-visible-toggle" tabindex="-1">
        <header class="uk-comment-header uk-position-relative">
            <div class="uk-grid-medium uk-flex-middle uk-grid">
                <div class="uk-width-expand">
                    <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                        <li><a class="link" href="/post/edit/{{id}}">Trains</a></li>
                        <li>{{format_date created_at}}</li>
                    </ul>
                </div>
            </div>
        </header>
</li>