<div class="uk-child-width-expand uk-grid">
  <form id="login-form" class="uk-card uk-card-body uk-text-center">
    <h1 class="uk-background-default">LOGIN IN TO CO-BART!</h1>
      <div class="uk-form-row uk-text-center">
        <input id="username-login" type="text" class="uk-width-1-3 uk-form-large" placeholder="Username">
      </div>
      <div class="uk-form-row uk-text-center">
        <input id="password-login" type="password" autofocus="true" class="uk-width-1-3 uk-form-large form-input" placeholder="Password">
      </div>
    <button type-"submit" class="uk-button-primary uk-button uk-width-1-3">Login!</button>
    <div class="uk-form-row uk-text-center">
      <h4><a class="uk-link" href="/signup">No account? Sign up!</a></h4>
    </div>
  </form>
</div>


<script src="/javascript/login.js"></script>