<div class="uk-child-width-expand uk-grid">
  <form id="signup-form" class="uk-card uk-card-body uk-text-center">
    <h1 class="uk-background-default">WELCOME TO CO-BART!</h1>
    <div class="uk-form-row uk-text-center">
      <input id="username-signup" type="text" autofocus="true" class="uk-width-1-3 uk-form-large" placeholder="Username">
    </div>
    <div class="uk-form-row uk-text-center">
      <input id="password-signup" type="password" autofocus="true" class="uk-width-1-3 uk-form-large" placeholder="Password">
    </div>
    <button type="submit" class="uk-button-primary uk-button uk-width-1-3">Sign Up!</button>
    <div class="uk-form-row uk-text-center">
      <h4><a class="uk-link" href="/login">Have an account? Log in!</a></h4>
    </div>
  </form>
</div>


<script src="/javascript/signup.js"></script>